<!DOCTYPE html>
<html lang="es">

<head>
    <title>Dashboard de Vehículos</title>
    <meta charset="utf-8">
    <meta name="author" content="Kevin Hernández">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
</head>

<body>
    <main>
        <h3 id="mainTitle">Dashboard de Vehículos</h3>
        <div class="row">
            <div class="col-sm-12">
                <p>Bienvenido al panel de administración de vehículos. Aquí puedes gestionar tus registros de vehículos y realizar otras acciones administrativas.</p>
            </div>
        </div>
    </main>
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <script type="text/javascript" src="../../controllers/utils/admin.js"></script>
    <script type="text/javascript" src="../../controllers/js/dashboard.js"></script>

</body>

</html>
